        
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar ul a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}


.dropdown {
    float: center;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }


  .custom-select {
    position: absolute;
    font-family: Arial;
    background-color: DodgerBlue;
    top: 100px;
    left: 100px;
    width: 500;
    height: 500;
    border: 1px solid transparent;
    border-color: #fff transparent transparent transparent;
    
    
    
  }
  
  .custom-select select a{
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }

  .dropdowns {
    position: absolute;
      box-sizing: border-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(120, 193, 206, 1);
      
      border-top-left-radius: 42.00px;
      border-top-right-radius: 42.00px;
      border-bottom-left-radius: 42.00px;
      border-bottom-right-radius: 42.00px;
      box-shadow: none;
      width: 200.00px;
    height: 43.00px;
    left: 50.00px;
    top: 70.00px;

}

.avatar {
	border-radius: 50%;
	max-height: 50px;
	float: left;
	margin-right: 8px;
	margin-top: 8px;
	vertical-align: middle;
	text-decoration:none;
}

.LandingText {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(9, 111, 91, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 25.00px;
    font-weight: 400;
  font-style: normal;
    font-family: 'New Peninim MT', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 444.00px;
  height: 63.00px;
  left: 48.00px;
  top: 69.00px;

}

.question {
	margin: 0 auto;
	max-width: 400px;
	text-decoration:none;
	cursor: default;

	
}

.question-title {
	border: 1px solid #dddddd;
	padding: 12px;
	border-radius: 5px 5px 0px 0px;
	background: #fafbf9;
	text-decoration:none;
	cursor: pointer;
}

.question-body,
.question-footer {
	padding: 50px;
	background: #ffffff;
	text-decoration:none;
}

.avatar {
	border-radius: 50%;
	max-height: 50px;
	float: left;
	margin-right: 8px;
	margin-top: 8px;
	vertical-align: middle;
	text-decoration:none;
}


